@model GAFPAY.ViewModel.SeniorCEAllowance
@{
    ViewBag.Title = "Allowances for " + ViewBag.Name;
}

<div class="page-header">
    <h3 class="page-title"> @ViewBag.Title</h3>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">

            <li class="breadcrumb-item"> <a href="@Url.Action("Index", "Home")"> Dashboard</a> </li>
            <li class="breadcrumb-item"> <a href="@Url.Action("IndexSCEAllowance", "Pay")">SCE Allowance</a> </li>
            <li class="breadcrumb-item active" aria-current="page">@ViewBag.Title </li>
        </ol>
    </nav>
</div>
<div class="main-page">
    <div class="row">
        <div class="col-md-12 grid-margin stretch-card">

            <div class="card">
                @using (Html.BeginForm("", "", FormMethod.Post, new { @class = "form-horizontal", role = "form", enctype = "multipart/form-data", id = "NewFormX" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                    <div class="card-body">
                        @Html.HiddenFor(model => model.SeniorCEID)
                        <button type="button" id="addPay" title="Add" class="btn btn-xs btn-primary" data-original-title="Add"><i class="fas fa-plus"></i></button>
                        <br />
                        <br />
                        @*<label class="control-label"> Allowances </label>*@
                        <div class="table-responsive">
                            <table class="table table-bordered table-striped" id="pay">
                                <thead>
                                    <tr style="background-color: #f9f9f9;">

                                        <th class="">Allowances</th>
                                        <th width="20%">Amount GHS</th>
                                        <th width="10%" class="text-center">Action</th>
                                    </tr>
                                </thead>

                                <tbody></tbody>



                            </table>

                        </div>
                        <br />
                        <br />
                        <div class="row">
                            <a class="btn btn-lg btn-primary pull-right" id="" onclick="sendForm()" style="color: white">Save</a>
                        </div>
                        <br /> <br />
                    </div>
                }
            </div>

        </div>

    </div>
</div>
<script src="~/Scripts/tableList.js"></script>
<script>

    $('#addPay').click(function () {

        var i = $('#pay tbody').find('tr').length;

        var tr = "<tr>";
        tr += "<td><input type=text name=SeniorCEAllowanceDetails[" + i + "].AllowanceName class='form-control Desc' id='SeniorCEAllowanceDetails["+i + "].Desc' ></td>";
        tr += "<td><input type=text name=SeniorCEAllowanceDetails[" + i + "].Amount class='form-control Amount'></td>";

        tr += "<td class='text-center'><button type='button' class='btn btn-xs btn-danger' title='Delete' onclick='rPay(this);'><i class='fas fa-trash-alt'></i></button></td>";
        tr += "</tr>";

        $('#pay tbody').append(tr);
        i++;
    });


    $(document).on('click', '.form-control.Desc', function () {
        input_id = $(this).attr('id').split('[');
        stable = input_id[1].substring(0, 1);
        //alert(stable);
        $(this).autocomplete({
            minLength: 3,
            source: function (request, response) {
                $.ajax({
                    url: '@Url.Action("GetAllowanceJsonResult", "Pay")',
                    type: "POST",
                    dataType: "json",
                    data: { Prefix: request.term },
                    success: function (data) {
                        response($.map(data, function (item) {
                            return item;

                        }));
                    }

                });

            },
            messages: {
                noResults: "",
                results: function (count) {
                    return count + (count > 1 ? ' results' : ' result ') + ' found';
                }
            }
        });
    });


    function rPay(r) {

        var row = $(r).closest("tr");
        row.remove();

    }

    $(document).on("keypress keyup blur", '.Amount', function (event) {
        //this.value = this.value.replace(/[^0-9\.]/g,'');
        $(this).val($(this).val().replace(/[^0-9\.]/g, ''));
        if ((event.which != 46 || $(this).val().indexOf('.') != -1) && (event.which < 48 || event.which > 57)) {
            event.preventDefault();
        }
    });



    function sendForm() {
        var form = $('#NewFormX').get(0);
        swal({
            title: "Save changes",
            text: "Are you sure you want to save?",
            type: "question",
            showCancelButton: true,
            confirmButtonColor: "#5cb85c",
            confirmButtonText: "Save ",
            closeOnConfirm: false,
            showLoaderOnConfirm: true,
            preConfirm: function () {
                return new Promise(function (resolve) {
                    $.ajax({
                        url: "@Url.Action("SCEAllowanceAdd","Pay")",
                        type: 'POST',
                    data: new FormData(form),
                    dataType: 'json',
                    processData: false,
                    contentType: false,
                    })
                        .done(function (response) {
                            if (response.Success) {
                                swal({
                                    title: "Successful",
                                    text: response.Message+ " saved successfully",
                                    type: "success",
                                    showCancelButton: false,
                                    confirmButtonColor: "#1E90FF",
                                    confirmButtonText: "OK",
                                    timer: 5000,
                                    closeOnConfirm: true


                                }).then(function() {
                                 window.location.href = '@Url.Action("IndexSCEAllowance", "Pay")';

                                });

                            }  else {
                                var error;
                                if (response.ErrorMessage) {
                                    error = response.ErrorMessage;
                                } else {
                                    error = "Error while processing. Please try again";
                                }
                                swal("Error", error, "error");
                                //swal("error", "error");
                            }


                        })
                        .fail(function () {
                            swal('Oops...', 'Something went wrong with the processing. Try again !', 'error');
                        });
            });
    }



    },
            @* *@);
    }


</script>
