@model GAFPAY.ViewModel.Unit
@if (Model.IsEdit)
{

    ViewBag.Title = "Edit Unit";
}
else
{
    ViewBag.Title = "Create Unit";
}

<div class="page-header">
    <h3 class="page-title"> @ViewBag.Title </h3>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">

            <li class="breadcrumb-item"> <a href="@Url.Action("Index","Home")"> Dashboard</a> </li>
            <li class="breadcrumb-item"> <a href="@Url.Action("IndexUnit","Settings")"> Unit</a> </li>
            <li class="breadcrumb-item active" aria-current="page">@ViewBag.Title</li>
        </ol>
    </nav>
</div>

<div class="main-page">
    <div class="row">
        <div class="col-md-6 offset-md-1 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">

                    @using (Html.BeginForm("", "", FormMethod.Post, new { @class = "form-horizontal", role = "form", enctype = "multipart/form-data", id = "NewFormX" }))
                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                        <div class="form-group"> 
                            @Html.LabelFor(model => model.UnitName) 
                            @Html.EditorFor(model => model.UnitName, new { htmlAttributes = new { @class = "form-control", placeholder = "" } })
                        </div>


                            <div class="form-group">
                                @Html.LabelFor(model => model.UnitShort)
                                @Html.EditorFor(model => model.UnitShort, new { htmlAttributes = new { @class = "form-control", placeholder = "" } })
                            </div>

                        if (Model.IsEdit)
                        {
                            <a class="btn btn-md btn-primary" id="" onclick="editForm()" style="color: white;background-color:blue;">Edit</a>

                        }
                        else
                        {
                            <a class="btn btn-md btn-primary " id="" onclick="sendForm()" style="color: white;background-color:blue;">Save</a>

                        }

                    }
                </div>
            </div>
        </div>

    </div>
</div>
<script>
    function sendForm() {

        var form = $('#NewFormX').get(0);

        $.ajax({
            url: "@Url.Action("CreateUnit", "Settings")",
            type: "POST",
            data: new FormData(form),
            processData: false,
            contentType: false,

            success: function (data) {
                if (data.Success) {
                    swal({
                        title: "Success",
                        html: data.Message + " saved successfully",
                        type: "success",
                        showCancelButton: false,
                        confirmButtonColor: "#1E90FF",
                        confirmButtonText: "OK",
                        timer: 4000,

                    }).then((result) => {
                        //redirection happens here
                        window.location.href = '@Url.Action("IndexUnit", "Settings")';
                    })

                } else {
                    var error;
                    if (data.ErrorMessage) {
                        error = data.ErrorMessage;
                    }
                    else {
                        error = "Error while processing. Please try again";
                    }
                    swal("Error", error, "error");
                    //swal("error", "error");
                }

            }
        });
    }



    function editForm() {

        var form = $('#NewFormX').get(0);

        $.ajax({
            url: "@Url.Action("EditUnit", "Settings")",
            type: "POST",
            data: new FormData(form),
            processData: false,
            contentType: false,

            success: function (data) {
                if (data.Success) {
                    swal({
                        title: "Success",
                        html: data.Message + " saved successfully",
                        type: "success",
                        showCancelButton: false,
                        confirmButtonColor: "#1E90FF",
                        confirmButtonText: "OK",
                        timer: 4000,

                    }).then((result) => {
                        //redirection happens here
                        window.location.href = '@Url.Action("IndexUnit", "Settings")';
                    })

                } else {
                    var error;
                    if (data.ErrorMessage) {
                        error = data.ErrorMessage;
                    }
                    else {
                        error = "Error while processing. Please try again";
                    }
                    swal("Error", error, "error");
                    //swal("error", "error");
                }

            }
        });
    }
</script>