@using GAFPAY.ViewModel
@model List<RegionX>

@{
    ViewBag.Title = "Regions";
}
 
<div class="page-header">
    <h3 class="page-title"> @ViewBag.Title </h3>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"> <a href="@Url.Action("Index","Home")"> Dashboard</a> </li>
            <li class="breadcrumb-item active"> @ViewBag.Title</> </li>
        </ol>
    </nav>
</div>

<div class="main-page">
    <a href="@Url.Action("CreateRegion")" class="btn btn-primary"><i class="fas fa-plus" aria-hidden="true"></i> Add New</a>
    <br /><br />
    <table class="table table-striped" id="tableX">
        <thead>
            <tr>

                <th></th>
                <th>Region</th>
                <th>Code</th> 
                <th></th>
            </tr>
        </thead>
        @foreach (var item in Model)
            {
            <tr>
                <td></td>
                <td>@item.RegionName</td>
                <td>@item.RegionShort</td>
                <td class="text-center">
                    <a class="" href="@Url.Action("EditRegion",new {id=item.RegionID})"><i class="fas fa-pencil-alt"></i></a>|
                    <a class="" onclick="removeItem(@item.RegionID,'@item.RegionName')"><i class="fas fa-trash-alt"></i></a>

                </td> 
            </tr>
        }
    </table>

</div>
<script src="~/Scripts/tableList.js"></script>
<script>
    function removeItem(X, Y) {
        swal({
            title: "Are you sure",
            text: "Delete " + Y + " ?",
            type: "warning",
            showCancelButton: true,
            confirmButtonColor: "#5cb85c",
            confirmButtonText: "Delete ",
            closeOnConfirm: false,
            showLoaderOnConfirm: true,
            preConfirm: function () {
                return new Promise(function (resolve) {
                    $.ajax({
                        url: "@Url.Action("RemoveRegion","Settings")",
                        type: 'POST',
                    data: 'id=' + X,
                    dataType: 'json'
                })
                    .done(function (response) {
                        if (response.Success) {
                            swal({
                                title: "Successful",
                                text: response.Message+ " deleted successfully",
                                type: "success",
                                showCancelButton: false,
                                confirmButtonColor: "#DD6B55",
                                confirmButtonText: "OK",
                                timer: 5000,
                                closeOnConfirm: true


                            })
                            window.location.href = '@Url.Action("IndexRegion", "Settings")';

                        }  else {
                            var error;
                            if (response.ErrorMessage) {
                                error = response.ErrorMessage;
                            } else {
                                error = "Error while processing. Please try again";
                            }
                            swal("Error", error, "error");
                            //swal("error", "error");
                        }


                    })
                    .fail(function () {
                        swal('Oops...', 'Something went wrong with the processing. Try again !', 'error');
                    });
            });
    }



    },
        @* *@);
    }



</script>

