

<li class="nav-item nav-category"><span class="nav-link">Promotions</span></li>

<li class="nav-item">
    <a class="nav-link" data-toggle="collapse" href="#civilPromo" aria-expanded="false" aria-controls="civilPromo">
        <span class="menu-title">Civilian </span>
        <i class="icon-trophy menu-icon"></i>
    </a>
    <div class="collapse" id="civilPromo">
        <ul class="nav flex-column sub-menu">
            <li class="nav-item"> <a class="nav-link" href="@Url.Action("IndexJCEPromotion","Staff")"> Junior CE </a></li>
            <li class="nav-item"> <a class="nav-link" href="@Url.Action("IndexSCEPromotion","Staff")"> Senior CE </a></li>

        </ul>
    </div>
</li>

<li class="nav-item">
    <a class="nav-link" data-toggle="collapse" href="#milPromo" aria-expanded="false" aria-controls="milPromo">
        <span class="menu-title">Military </span>
        <i class="icon-trophy menu-icon"></i>
    </a>
    <div class="collapse" id="milPromo">
        <ul class="nav flex-column sub-menu">
            <li class="nav-item"> <a class="nav-link" href="@Url.Action("IndexRecruitPassout","Settings")"> Recruit Pass Out </a></li>
            <li class="nav-item"> <a class="nav-link" href="@Url.Action("IndexIntakePromotion","Settings")"> Officer Cadet Promo </a></li>
            <li class="nav-item"> <a class="nav-link" href="@Url.Action("IndexOCCmmsn","Settings")"> Officer Cadet Comm </a></li>
            <li class="nav-item"> <a class="nav-link" href="#"> Soldier </a></li>
            <li class="nav-item"> <a class="nav-link" href="#"> Officer </a></li>

        </ul>
    </div>
</li>
