

<li class="nav-item nav-category"><span class="nav-link">Promotions</span></li>

<li class="nav-item">
    <a class="nav-link" data-toggle="collapse" href="#civilPromo" aria-expanded="false" aria-controls="civilPromo">
        <span class="menu-title">Civilian </span>
        <i class="icon-trophy menu-icon"></i>
    </a>
    <div class="collapse" id="civilPromo">
        <ul class="nav flex-column sub-menu">
            <li class="nav-item"> <a class="nav-link" href="@Url.Action("IndexBankName", "Settings")"> Junior CE </a></li>
            <li class="nav-item"> <a class="nav-link" href="@Url.Action("IndexBank", "Settings")"> Senior CE </a></li>

        </ul>
    </div>
</li>

<li class="nav-item">
    <a class="nav-link" data-toggle="collapse" href="#milPromo" aria-expanded="false" aria-controls="milPromo">
        <span class="menu-title">Military </span>
        <i class="icon-trophy menu-icon"></i>
    </a>
    <div class="collapse" id="milPromo">
        <ul class="nav flex-column sub-menu">
            <li class="nav-item"> <a class="nav-link" href="@Url.Action("IndexBankName","Settings")"> Recruit Pass Out </a></li>
            <li class="nav-item"> <a class="nav-link" href="@Url.Action("IndexBank","Settings")"> Officer Cadet </a></li>
            <li class="nav-item"> <a class="nav-link" href="@Url.Action("IndexBank","Settings")"> Officer Cadet C'sn </a></li>
            <li class="nav-item"> <a class="nav-link" href="@Url.Action("IndexBank","Settings")"> Soldier </a></li>
            <li class="nav-item"> <a class="nav-link" href="@Url.Action("IndexBank","Settings")"> Officer </a></li>

        </ul>
    </div>
</li>
