

<li class="nav-item nav-category"><span class="nav-link">Process</span></li>


@*<li class="nav-item">
    <a class="nav-link" data-toggle="collapse" href="#single" aria-expanded="false" aria-controls="single">
        <span class="menu-title">Single Process</span>
        <i class="icon-calculator menu-icon"></i>
    </a>
    <div class="collapse" id="single">
        <ul class="nav flex-column sub-menu">
            <li class="nav-item"> <a class="nav-link" href="#">Recruits</a></li>
            <li class="nav-item"> <a class="nav-link" href="#">Officer Cadets</a></li>
            <li class="nav-item"> <a class="nav-link" href="#">Junior CEs</a></li>
            <li class="nav-item"> <a class="nav-link" href="#">Soldiers </a></li>
            <li class="nav-item"> <a class="nav-link" href="#">Senior CEs</a></li>
            <li class="nav-item"> <a class="nav-link" href="#">Officers</a></li>
        </ul>
    </div>
</li>*@

<li class="nav-item">
    <a class="nav-link" data-toggle="collapse" href="#batch" aria-expanded="false" aria-controls="batch">
        <span class="menu-title">Batch Process</span>
        <i class="icon-calculator menu-icon"></i>
    </a>
    <div class="collapse" id="batch">
        <ul class="nav flex-column sub-menu">
            <li class="nav-item"> <a class="nav-link" href="@Url.Action("CreateBatchPayroll","Pay")">Process All</a></li>
            <li class="nav-item"> <a class="nav-link" href="@Url.Action("CreateRecruitPayroll","Pay")">Recruits</a></li>
            <li class="nav-item"> <a class="nav-link" href="@Url.Action("CreateOCPayroll","Pay")">Officer Cadets</a></li>
            <li class="nav-item"> <a class="nav-link" href="@Url.Action("CreateJCEPayroll","Pay")">Junior CEs</a></li>
            <li class="nav-item"> <a class="nav-link" href="#">Soldiers </a></li>
            <li class="nav-item"> <a class="nav-link" href="@Url.Action("CreateSCEPayroll","Pay")">Senior CEs</a></li>
            <li class="nav-item"> <a class="nav-link" href="#">Officers</a></li>
        </ul>
    </div>
</li>