

<li class="nav-item nav-category"><span class="nav-link">Settings</span></li>

<li class="nav-item">
    <a class="nav-link" data-toggle="collapse" href="#bank" aria-expanded="false" aria-controls="bank">
        <span class="menu-title">Bank</span>
        <i class="icon-credit-card menu-icon"></i>
    </a>
    <div class="collapse" id="bank">
        <ul class="nav flex-column sub-menu">
            <li class="nav-item"> <a class="nav-link" href="@Url.Action("IndexBankName","Settings")"> Bank Name </a></li>
            <li class="nav-item"> <a class="nav-link" href="@Url.Action("IndexBank","Settings")"> Bank Branch </a></li>

        </ul>
    </div>
</li>

<li class="nav-item">
    <a class="nav-link" data-toggle="collapse" href="#levstep" aria-expanded="false" aria-controls="levstep">
        <span class="menu-title">Lev Step</span>
        <i class="icon-target menu-icon"></i>
    </a>
    <div class="collapse" id="levstep">
        <ul class="nav flex-column sub-menu">
            <li class="nav-item"> <a class="nav-link" href="@Url.Action("IndexCLevStep","Settings")"> Civilian Lev Step </a></li>
            <li class="nav-item"> <a class="nav-link" href="@Url.Action("IndexMLevStep","Settings")"> Military Lev Step </a></li>
        </ul>
    </div>
</li>

<li class="nav-item">
    <a class="nav-link" data-toggle="collapse" href="#gensettings" aria-expanded="false" aria-controls="gensettings">
        <span class="menu-title">General Settings</span>
        <i class="icon-settings menu-icon"></i>
    </a>
    <div class="collapse" id="gensettings">
        <ul class="nav flex-column sub-menu">
            <li class="nav-item"> <a class="nav-link" href="@Url.Action("IndexBloodGroup","Settings")"> Blood Group</a></li>
            <li class="nav-item"> <a class="nav-link" href="@Url.Action("IndexGender","Settings")"> Gender </a></li>
            <li class="nav-item"> <a class="nav-link" href="@Url.Action("IndexRegion","Settings")"> Region </a></li>
            <li class="nav-item"> <a class="nav-link" href="@Url.Action("IndexReligion","Settings")"> Religion</a></li>
            <li class="nav-item"> <a class="nav-link" href="@Url.Action("IndexTitle","Settings")"> Title</a></li>

        </ul>
    </div>
</li>


<li class="nav-item">
    <a class="nav-link" data-toggle="collapse" href="#milsettings" aria-expanded="false" aria-controls="milsettings">
        <span class="menu-title">Military Settings</span>
        <i class="icon-directions menu-icon"></i>
    </a>
    <div class="collapse" id="milsettings">
        <ul class="nav flex-column sub-menu">
            <li class="nav-item"> <a class="nav-link" href="@Url.Action("IndexAllowance","Settings")"> Allowances</a></li>
            <li class="nav-item"> <a class="nav-link" href="@Url.Action("IndexCommissionType","Settings")"> Commission Type</a></li>
            <li class="nav-item"> <a class="nav-link" href="@Url.Action("IndexDeduction","Settings")"> Deductions</a></li>
            <li class="nav-item"> <a class="nav-link" href="@Url.Action("IndexDeductionClass","Settings")"> Deduction Class</a></li>
            <li class="nav-item"> <a class="nav-link" href="@Url.Action("IndexGStatus","Settings")"> General Status</a></li>
            <li class="nav-item"> <a class="nav-link" href="@Url.Action("IndexGrade","Settings")"> Grade</a></li>
            <li class="nav-item"> <a class="nav-link" href="@Url.Action("IndexOIntake","Settings")"> Officer Intake</a></li>
            <li class="nav-item"> <a class="nav-link" href="@Url.Action("IndexProvidentFund","Settings")"> Provident Fund</a></li>
            <li class="nav-item"> <a class="nav-link" href="@Url.Action("IndexRank","Settings")"> Ranks</a></li>
            <li class="nav-item"> <a class="nav-link" href="@Url.Action("IndexRCourse","Settings")"> Recruit Course</a></li>
            <li class="nav-item"> <a class="nav-link" href="@Url.Action("IndexTCenter","Settings")"> Recruit Training Center</a></li>
            <li class="nav-item"> <a class="nav-link" href="@Url.Action("IndexService","Settings")"> Service </a></li>
            <li class="nav-item"> <a class="nav-link" href="@Url.Action("IndexUnit","Settings")"> Unit </a></li>
            
        </ul>
    </div>
</li>


