


<li class="nav-item nav-category"><span class="nav-link">Trial Pay</span></li>


<li class="nav-item">
    <a class="nav-link" data-toggle="collapse" href="#singleT" aria-expanded="false" aria-controls="singleT">
        <span class="menu-title">Single Process</span>
        <i class="icon-calculator menu-icon"></i>
    </a>
    <div class="collapse" id="singleT">
        <ul class="nav flex-column sub-menu">
            <li class="nav-item"> <a class="nav-link" href="@Url.Action("CreateRecruitSingleTrial","Pay")">Recruits</a></li>
            <li class="nav-item"> <a class="nav-link" href="@Url.Action("CreateOCSingleTrial","Pay")">Officer Cadets</a></li>
            <li class="nav-item"> <a class="nav-link" href="@Url.Action("CreateJCESingleTrial","Pay")">Junior CEs</a></li>
            <li class="nav-item"> <a class="nav-link" href="#">Soldiers </a></li>
            <li class="nav-item"> <a class="nav-link" href="@Url.Action("CreateSCESingleTrial","Pay")">Senior CEs</a></li>
            <li class="nav-item"> <a class="nav-link" href="#">Officers</a></li>
        </ul>
    </div>
</li>

<li class="nav-item">
    <a class="nav-link" data-toggle="collapse" href="#batchT" aria-expanded="false" aria-controls="batchT">
        <span class="menu-title">Batch Process</span>
        <i class="icon-calculator menu-icon"></i>
    </a>
    <div class="collapse" id="batchT">
        <ul class="nav flex-column sub-menu">
            <li class="nav-item"> <a class="nav-link" href="@Url.Action("IndexRecruitBatchTrial","Pay")">Recruits</a></li>
            <li class="nav-item"> <a class="nav-link" href="@Url.Action("IndexOCBatchTrial","Pay")">Officer Cadets</a></li>
            <li class="nav-item"> <a class="nav-link" href="@Url.Action("IndexJCEBatchTrial","Pay")">Junior CEs</a></li>
            <li class="nav-item"> <a class="nav-link" href="#">Soldiers </a></li>
            <li class="nav-item"> <a class="nav-link" href="@Url.Action("IndexSCEBatchTrial","Pay")">Senior CEs</a></li>
            <li class="nav-item"> <a class="nav-link" href="#">Officers</a></li>
        </ul>
    </div>
</li>