@model GAFPAY.ViewModel.SeniorCEPromotion
@{
    ViewBag.Title = "Promotion for " + ViewBag.Name;
}


<div class="page-header">
    <h3 class="page-title"> @ViewBag.Title </h3>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">

            <li class="breadcrumb-item"> <a href="@Url.Action("Index","Home")"> Dashboard</a> </li>
            <li class="breadcrumb-item"> <a href="@Url.Action("IndexSCEPromotion","Staff")"> Senior CE Promotion</a> </li>
            <li class="breadcrumb-item active" aria-current="page">@ViewBag.Title</li>
        </ol>
    </nav>
</div>

<div class="main-page">
    <div class="row">
        <div class="col-md-6 offset-md-1 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">

                    @using (Html.BeginForm("", "", FormMethod.Post, new { @class = "form-horizontal", role = "form", enctype = "multipart/form-data", id = "NewFormX" }))
                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })



                        <div class="input-field">
                            
                            @Html.LabelFor(model => model.DatePromoted)
                            <input type="text" id="DatePromoted" name="DatePromoted" readonly="readonly" class="form-control" value="@Model.DatePromoted.ToString("dd MMMM yyyy")"/>

                        </div>

                        <br />

                        <div class="input-field">
                            @Html.LabelFor(model => model.CLevStepID)
                            @Html.DropDownListFor(model => model.CLevStepID, Model.CLevStepList, "Select Lev Step", htmlAttributes: new { @class = "form-control" })

                        </div>


                        <br />
                        <div class="input-field">
                            @Html.LabelFor(model => model.GradeID)
                            @Html.DropDownListFor(model => model.GradeID, Model.GradeList, "Select Grade", htmlAttributes: new { @class = "form-control" })

                        </div>
                        <br />
                        <br />
                        <br />
                        <a class="btn btn-md btn-primary " id="" onclick="sendForm()" style="color: white;background-color:blue;">Save</a>



                    }
                </div>
            </div>
        </div>

    </div>
</div>
<script>
    $(function () {
        $("#DatePromoted").datepicker({
            dateFormat: 'dd-MM-yy',
            maxDate: 0,
            autoclose: true,
            changeMonth: true,
            changeYear: true
        });
    });

    function sendForm() {
        var form = $('#NewFormX').get(0);
        swal({
            title: "Save changes",
            text: "Are you sure you want to save?",
            type: "question",
            showCancelButton: true,
            confirmButtonColor: "#5cb85c",
            confirmButtonText: "Save ",
            closeOnConfirm: false,
            showLoaderOnConfirm: true,
            preConfirm: function () {
                return new Promise(function (resolve) {
                    $.ajax({
                        url: "@Url.Action("SCEPromotion","Staff")",
                        type: 'POST',
                    data: new FormData(form),
                    dataType: 'json',
                    processData: false,
                    contentType: false,
                    })
                    .done(function (response) {
                        if (response.Success) {
                            swal({
                                title: "Successful",
                                text: response.Message+ " saved successfully",
                                type: "success",
                                showCancelButton: false,
                                confirmButtonColor: "#1E90FF",
                                confirmButtonText: "OK",
                                timer: 5000,
                                closeOnConfirm: true


                            })
                            window.location.href = '@Url.Action("IndexSCEPromotion", "Staff")';

                        }  else {
                            var error;
                            if (response.ErrorMessage) {
                                error = response.ErrorMessage;
                            } else {
                                error = "Error while processing. Please try again";
                            }
                            swal("Error", error, "error");
                            //swal("error", "error");
                        }


                    })
                    .fail(function () {
                        swal('Oops...', 'Something went wrong with the processing. Try again !', 'error');
                    });
            });
    }



    },
        @* *@);
    }



    @*function sendForm() {

        var form = $('#NewFormX').get(0);

        $.ajax({
            url: "@Url.Action("SCEPromotion", "Staff")",
            type: "POST",
            data: new FormData(form),
            processData: false,
            contentType: false,

            success: function (data) {
                if (data.Success) {
                    swal({
                        title: "Success",
                        html: data.Message + " saved successfully",
                        type: "success",
                        showCancelButton: false,
                        confirmButtonColor: "#1E90FF",
                        confirmButtonText: "OK",
                        timer: 4000,

                    }).then((result) => {
                        //redirection happens here
                        window.location.href = '@Url.Action("IndexSCEPromotion", "Staff")';
                    })

                } else {
                    var error;
                    if (data.ErrorMessage) {
                        error = data.ErrorMessage;
                    }
                    else {
                        error = "Error while processing. Please try again";
                    }
                    swal("Error", error, "error");
                    //swal("error", "error");
                }

            }
        });
    }*@


</script>