@model GAFPAY.ViewModel.SeniorCEProvident
@{
    ViewBag.Title = "Provident Fund for " + ViewBag.Name;
}


<div class="page-header">
    <h3 class="page-title"> @ViewBag.Title </h3>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">

            <li class="breadcrumb-item"> <a href="@Url.Action("Index","Home")"> Dashboard</a> </li>
            <li class="breadcrumb-item"> <a href="@Url.Action("IndexSCEProvident","Staff")"> Senior CE Provident</a> </li>
            <li class="breadcrumb-item active" aria-current="page">@ViewBag.Title</li>
        </ol>
    </nav>
</div>

<div class="main-page">
    <div class="row">
        <div class="col-md-3 offset-md-1 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">

                    @using (Html.BeginForm("", "", FormMethod.Post, new { @class = "form-horizontal", role = "form", enctype = "multipart/form-data", id = "NewFormX" }))
                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })


                        <div class="form-group">
                            @Html.LabelFor(model => model.ProvidentID)

                            @Html.DropDownListFor(model => model.ProvidentID, Model.ProvidentFundList, "Select Provident Fund", htmlAttributes: new { @class = "form-control" })


                        </div>



                        <a class="btn btn-md btn-primary " id="" onclick="sendForm()" style="color: white;background-color:blue;">Save</a>



                    }
                </div>
            </div>
        </div>

    </div>
</div>
<script>

       function sendForm() {
        var form = $('#NewFormX').get(0);
        swal({
            title: "Save changes",
            text: "Are you sure you want to save?",
            type: "question",
            showCancelButton: true,
            confirmButtonColor: "#5cb85c",
            confirmButtonText: "Save ",
            closeOnConfirm: false,
            showLoaderOnConfirm: true,
            preConfirm: function () {
                return new Promise(function (resolve) {
                    $.ajax({
                        url: "@Url.Action("SCEProvident","Staff")",
                            type: 'POST',
                            data: new FormData(form),
                            dataType: 'json',
                            processData: false,
                            contentType: false,
                        })
                        .done(function(response) {
                            if (response.Success) {
                                swal({
                                    title: "Successful",
                                    text: response.Message + " saved successfully",
                                    type: "success",
                                    showCancelButton: false,
                                    confirmButtonColor: "#1E90FF",
                                    confirmButtonText: "OK",
                                    timer: 5000,
                                    // closeOnConfirm: true
                                }).then(function() {
                                    window.location.href = '@Url.Action("IndexSCEProvident", "Staff")';
                                });
                            }  else {
                            var error;
                            if (response.ErrorMessage) {
                                error = response.ErrorMessage;
                            } else {
                                error = "Error while processing. Please try again";
                            }
                            swal("Error", error, "error");
                            //swal("error", "error");
                        }


                    })
                    .fail(function () {
                        swal('Oops...', 'Something went wrong with the processing. Try again !', 'error');
                    });
            });
    }



    }
         );
    }

     

</script>